body, html , #root{
    margin: 0px;
    height: 100%;
    width: 100%;
}

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.mainframe {
  background-color: black;
  height: 100%;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-item {
  background-color: white;
  height: 100%;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center-aligned {
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-column-center-aligned {
  justify-content: space-between;
  align-items: center;
}

.full-height {
  height: 100%;
  width: 100%;
}

.grey {
  background-color: rgb(214, 214, 214);
}

.icon {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  gap: 6px;
}

.icon2 {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  gap: 6px;
}

.icon3 {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  gap: 6px;
  border: 1px solid white;
}

.image {
  background-image: url("https://img.freepik.com/free-photo/satisfied-lovely-woman-holds-modern-cell-phone_273609-28232.jpg?w=1380&t=st=1672213157~exp=1672213757~hmac=5795f7e406475b77d4c3b3e0417fb4c61872d1e2ba3f4b308818cbcf42e5d9ba");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner {
  height: 64px;
  width: 100%;
  align-items: center;
  justify-content: start;
  gap: 12px;
  padding-left: 60px;
}
.h2 {
  font-weight: 400;
  margin: 0px;
}

.p-50 {
  padding: 60px;
}
.h1 {
  color: white;
  font-size: 40px;
  margin: 0px;
}

.box {
  width: 450px;
  
}

.flexend {
  justify-content: flex-end;
  
}

.loginblock {
    width: 85%;
}

.forgotPassword {
  margin: 0px;
  text-decoration: underline;
  font-weight: 500;
}

.p-12 {
  padding: 12px;
}

.blue {
  background-color: blue;
}
.button {
  width: 450px;
  height: 56px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: black;
  border: none;
  font-weight: 400;
  gap: 12px;
  font-size: 16px;
}
button:hover {
  cursor: pointer;
}

.google-btn {
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0, 0.4);
  color: rgb(0, 0, 0, 0.7);
}

.g-12 {
  gap: 28px;
}
.bold {
  font-weight: bold;
}

.paragraph {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
  margin: 3px;
}
.gap {
  gap: 28px;
}

.divider {
  height: 38px;
  width: 350px;
  gap: 12px;
}

.border {
  height: 1px;
  background-color: rgb(0, 0, 0, 0.4);
  width: 50%;
}

.form-field {
  height: 48px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom:1.5px solid rgba(0, 0, 0, 0.4);
  width: 450px;
  color: rgb(0, 0, 0, 1);
  font-size: 14px;
}

.black {
    color: #000;
    font-weight: 500;
    margin-left: 8px;
}

a {
  color: black;
  font-weight: 500;
  text-decoration: underline;
}
.linear {
  background: rgb(22, 22, 22);
  background: linear-gradient(
    0deg,
    rgba(22, 22, 22, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.p {
  color: white;
  margin: 0px;
  font-size: 14px;
}
